@font-face {
  font-family: "Roboto";
  src: url("./fonts/Roboto/Roboto-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "RobotoBold";
  src: url("./fonts/Roboto/Roboto-bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
* {
  margin: 0;
}

html {
  font-family: "Roboto";
  font-size: 16px;
}
html a {
  text-decoration: none;
}
html body {
  display: flex;
  flex-direction: column;
}
html header {
  position: fixed;
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: background-color 0.2s ease-in-out;
  transition: height 0.2s ease-in-out;
  z-index: 2;
}
@media (max-width: 768px) {
  html header {
    align-items: flex-start;
    flex-wrap: wrap;
  }
}
html header #header-logo {
  height: 120px;
  display: flex;
  justify-content: center;
  margin-left: -240px;
  transition: margin-left 0.2s ease-in-out;
}
html header #header-logo img {
  height: 100%;
}
html header #header-nav {
  width: 100%;
  justify-content: center;
  align-items: center;
}
html header #header-nav ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
@media (max-width: 768px) {
  html header #header-nav ul {
    flex-direction: column;
    align-items: flex-end;
    margin-right: 8%;
  }
}
html header #header-nav ul li {
  margin: 2%;
}
html header #header-nav ul li a {
  color: white;
  font-size: calc(1rem + 0.5vw);
}
@media (max-width: 768px) {
  html header .header-nav-no-display {
    display: none;
  }
}
html header #header-menu-icon {
  display: none;
}
@media (max-width: 768px) {
  html header #header-menu-icon {
    display: flex;
    width: 8%;
    color: white;
    font-size: calc(1rem + 2vw);
    margin: 6%;
  }
}
html #blue-header {
  background-color: #8dc5d5;
}
html #blue-header #header-logo {
  margin-left: 4%;
}
html #transparent-header {
  background-color: transparent;
}
html main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
html main #hero {
  background-image: url("./images/hero-image.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0;
  width: 100%;
  border: none;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
html main #booking-button {
  position: fixed;
  z-index: 2;
  bottom: 4%;
  right: 4%;
  width: 14vw;
  height: 7vh;
  min-height: -moz-fit-content;
  min-height: fit-content;
  min-width: -moz-fit-content;
  min-width: fit-content;
  font-size: calc(1rem + 0.8vh);
  color: white;
  font-family: "RobotoBold";
  background-color: #0667a9;
  border: solid 5px #b9dbb4;
}
html main #booking-button:hover {
  transform: scale(1.2);
}
html main div {
  width: 100%;
}
html main div section {
  padding-top: 140px;
  width: 100%;
  color: black;
}
html main div #accueil {
  color: #0667a9;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-left: 20%;
  padding-right: 20%;
  width: -moz-fit-content;
  width: fit-content;
}
html main div #accueil h1 {
  font-size: calc(1rem + 3vh);
  margin-bottom: 30px;
}
html main div #accueil p {
  font-size: calc(1rem + 1.5vh);
  font-style: italic;
  margin-bottom: 18px;
}
html main div #actualites {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 42px;
  color: #0667a9;
}
html main div #actualites h2 {
  font-size: calc(1rem + 3vh);
  margin-bottom: 30px;
}
html main div #actualites #news-left-button {
  position: absolute;
  left: 5%;
  top: 68%;
  font-size: calc(1rem + 3vh);
}
html main div #actualites #news-left-button:hover {
  cursor: pointer;
}
html main div #actualites #news-right-button {
  position: absolute;
  right: 5%;
  top: 68%;
  font-size: calc(1rem + 3vh);
}
html main div #actualites #news-right-button:hover {
  cursor: pointer;
}
html main div #actualites #section-actualites {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 78%;
}
html main div #actualites #section-actualites .news {
  margin-top: 32px;
  width: 30%;
  height: 320px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  transition: scale 0.2s ease-in-out;
}
html main div #actualites #section-actualites .news:hover {
  transform: scale(1.1);
}
@media (max-width: 760px) {
  html main div #actualites #section-actualites .news {
    width: 80%;
  }
}
html main div #actualites #section-actualites .news img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 70%;
  width: 100%;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}
html main div #actualites #section-actualites .news .news-text {
  padding: 4px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
html main div #actualites #section-actualites .news .news-text p {
  margin-top: 4px;
  margin-bottom: 4px;
}
html main div #lecomplexe {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
html main div #lecomplexe h2 {
  font-size: calc(1rem + 3vh);
  margin-bottom: 15px;
  color: #246c93;
}
html main div #lecomplexe h3 {
  font-size: calc(1rem + 2vh);
  margin-bottom: 30px;
  color: #246c93;
}
html main div #lecomplexe #card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
html main div #lecomplexe #card-container .complexe-card {
  width: 28%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2%;
}
html main div #lecomplexe #card-container .complexe-card p {
  margin-top: 8px;
  color: #246c93;
  font-size: calc(1rem + 0.5vh);
}
@media (max-width: 760px) {
  html main div #lecomplexe #card-container .complexe-card {
    width: 80%;
  }
}
html main div #lepadel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
html main div #lepadel h2 {
  font-size: calc(1rem + 3vh);
  margin-bottom: 15px;
  color: #246c93;
  margin-bottom: 40px;
}
html main div #lepadel #lepadel-content {
  display: flex;
  width: 80%;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
html main div #lepadel #lepadel-content p {
  text-align: center;
  font-style: italic;
  color: #246c93;
  font-size: calc(1rem + 1vh);
  margin-bottom: 8px;
}
html main div #lepadel #lepadel-content #video-padel {
  margin-top: 42px;
  width: 90%;
}
html footer {
  flex-shrink: 0;
  background-color: #246c93;
  color: white;
  display: flex;
  justify-content: center;
}
html footer img {
  width: 100px;
}/*# sourceMappingURL=main.css.map */